*~
*.bak

.coqdeps.d
Makefile
Makefile.conf
.Makefile.d

*.o
*.v.crashcoqide
*.v.d
*.vio
*.vo
*.vok
*.vos
*.glob
.*.aux
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
